body {
    background: #0f1115;
    color: #eee;
}

.container {
    background: #181b22;
}


/* GRID */
.monster-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
}

/* CARD */
.monster-card {
    background: #1f232b;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0,0,0,0.4);
    transition: 0.2s;
}

.monster-card:hover {
    transform: translateY(-4px);
}

/* IMAGE */
.monster-image-wrapper {
    position: relative;
}

.monster-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-bottom: 3px solid #2ecc71;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2b2f36;
}

/* STATUS BADGE */
.status-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}

.available {
    background: #2ecc71;
    color: black;
}

.adopted {
    background: #e74c3c;
}

/* CONTENT */
.monster-content {
    padding: 15px;
}

.monster-species {
    color: #aaa;
    margin-bottom: 10px;
}

.monster-levels {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
}

/* ACTIONS */
.monster-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-btn {
    color: #2ecc71;
    text-decoration: none;
}

button {
    background: #2ecc71;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

button:hover {
    background: #27ae60;
}